@use "../shared/styles/helpers/color";

// Android/iOS Google Maps Fix - Content Transparenz NUR auf nativen Plattformen
body.native-map-page {
  :host {
    ion-content {
      --background: transparent !important;
    }
  }
}

.home {
  &__trip-fab {
    z-index: 10;
    position: fixed;
    top: unset;
    bottom: calc(
      1rem + env(safe-area-inset-bottom)
    ); // Android Navigation Bar Support
    left: 1rem;

    ion-fab-button {
      --background: #{color.get(primary, 500)};
      --background-activated: #{color.get(primary, 600)};
      --background-hover: #{color.get(primary, 400)};
      --color: white;
      --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    }
  }
}

:host-context(html.ion-palette-dark) {
  .home {
    &__trip-fab {
      ion-fab-button {
        --background: #{color.get(primary, 600)};
        --background-activated: #{color.get(primary, 700)};
        --background-hover: #{color.get(primary, 500)};
      }
    }
  }
}
