@use "sass:map";
@use "../../shared/styles/helpers/variables";

.header {
  &__logo {
    width: 12rem;
    margin-right: 1rem;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__language-buttons {
    width: min-content;
    height: 100%;
  }

  &__language-button {
    width: clamp(2.5rem, 10vw, 15rem);
  }

  &__language-picker,
  &__language-picker-column {
    display: none;
    height: 6.25rem;
  }

  &__short-text {
    display: none;
  }

  &__language-icon {
    height: 2rem;
  }

  @media screen and (width < #{map.get(variables.$view-size-map, "desktop")}) {
    &__short-text {
      display: block;
    }

    &__full-text {
      display: none;
    }
  }

  @media screen and (width < #{map.get(variables.$view-size-map, "handy")}) {
    &__language-buttons {
      display: none;
    }

    &__language-picker {
      display: block;
      width: 10rem;
      height: 100%;
    }

    &__title {
      display: none;
    }
  }
}

.toolbar-container {
  display: flex;
  flex: unset;
  order: unset;
}
