@use "../../shared/styles/helpers/color";
@use "../../shared/styles/helpers/mixins";

.header {
  &__logo {
    width: 12rem;
    margin-right: 1rem;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__dark-toggle-item,
  &__dark-toggle,
  .list-md {
    --background: var(--ion-toolbar-background);
    background-color: var(--background);
  }

  &__toggle-mobile {
    display: none;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: color.get(grey, 700);
    transition: color 0.2s ease;

    &:hover {
      color: color.get(grey, 900);
    }

    &--active {
      color: #{color.get(primary, 500)};

      &:hover {
        color: #{color.get(primary, 600)};
      }
    }
  }

  &__toggle-mobile-icon {
    font-size: 1.5rem;
  }

  &__toggle-desktop {
    display: block;
  }

  @include mixins.media-tablet {
    &__toggle-mobile {
      display: block;
    }

    &__toggle-desktop {
      display: none;
    }
  }

  @include mixins.media-mobile-xs {
    &__title {
      display: none;
    }
  }
}

:host-context(html.ion-palette-dark) {
  .header {
    &__toggle-mobile {
      color: color.get(grey, 300);

      &:hover {
        color: color.get(grey, 100);
      }

      &--active {
        color: #{color.get(primary, 400)};

        &:hover {
          color: #{color.get(primary, 300)};
        }
      }
    }
  }
}

.toolbar-container {
  display: flex;
  flex: unset;
  order: unset;
}
